# Web Scraping
selenium>=4.15.0
pandas>=2.1.0
bs4
PyPDF2
lxml
streamlit

# File Processing
PyMuPDF>=1.24.0 # Provides the 'fitz' module
pdf2image>=1.16.3
Pillow>=10.0.0
pytesseract>=0.3.10
python-docx>=0.8.11
openpyxl>=3.1.0 # For reading .xlsx files with pandas
requests>=2.31.0
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
gspread
